.heading
{
    font-size: 23px;
    width:100%;
    margin: 0px;
    
}

.note
{
    font-size: 15px;
    color:black;
    margin-top: 5px;
    
}

h3
{
    font-size:35px !important;
    font-family: Barlow Condensed;
}

body
{
    background-size: cover;
}

.div_speed
{
    float: left;

}

.div_volume
{
    float: right;
}

#speed,#volume
{
  font-size: 23px;
  margin: 15px;

}

.div_img1
{
    width:200px;
    border-radius:100px;
    margin-left: 20px;
}

.div_img2
{
    width:200px;
    border-radius:100px;
    margin-right: 20px;
}


.play_button
{
    width: 130px;
    font-size: 25px;
    margin-top: 600px;
}
 
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
     
}

@keyframes example
{
    from {box-shadow:1px 1px 38px grey;}
    to{box-shadow:1px 1px 38px white;}

}
